<%- include('partials/header') %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/secrets">
      <i class="fas fa-key fa-1x"></i> Sercets</a
    >

    <div class="nav-con">
      <ul class="navbar-nav mb-2 mr-2">
        <li class="nav-item">
          <a class="account" href="/account">Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- submit secrets-->
<div class="container">
  <div class="centered">
    <p class="submit-title">Submit A Secret!</p>
    <form id="secret-form" action="/submit" method="POST">
      <div class="form-group">
        <textarea
          id="secret"
          class="form-control text-center"
          name="secret"
          placeholder="What's your secret?"
          rows="1"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
<!-- secrets to read -->

<div class="text-center">
  <div class="container">
    <h1>Read Some of User's Secrets!</h1>

    <%usersWithSecrets.forEach( function(user){%> <%user.secrets.forEach(
    function(secret){%>
    <p class="secret-text"><%=secret.secret%></p>
    <% })%> <% })%>
  </div>
</div>

<%- include('partials/footer') %>
